@media (min-width: 991px){
  .hover:hover {
    color: var(--accent-darker);
  }
  .btn_accent:hover {
    background-color: var(--accent);
  }
  .location:hover {
    span {
      color: var(--accent-darker);
      border-color: var(--accent-darker);
    }
    svg {
      fill: var(--accent-darker);
    }
  }
  .region__link:hover {
    color: var(--accent);
  }
  .search__btn:hover {
    svg {
      stroke: var(--accent-darker);
    }
  }
  .benefits__item:hover {
    .benefits__icon-circle::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .service-card:hover {
    &::after {
      width: 100%;
    }
    .service-card__img img {
      transform: scale(1.06);
    }
    .service-card__img::before {
      opacity: 1;
      height: 100%;
    }
    .service-card__arrow {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    .service-card__title {
      color: var(--accent);
    }
  }
}