@media (max-width: 1940px){
  .region-on-page::before {
    width: auto;
    right: 8px;
  }
}

@media (max-width: 1800px){
  .offer-stripe__img {
    right: 0;
    width: 246px;
  }
}

@media (max-width: 1200px){
  .header__nav {
    gap: 24px;
  }
  .header__wrp {
    gap: 30px;
  }
  .step {
    flex-wrap: wrap;
    &__item {
      width: 50%;
    }
  }
}

@media (max-width: 991px){
  .header__bottom {
    display: none;
  }
  .header__top {
    border: none;
    padding-bottom: 0;
    justify-content: flex-end;
  }
  .menu-btn {
    display: flex;
  }
  .header__phone svg {
    display: block;
  }
  .header__phone span {
    display: none;
  }
  .modal-location {
    padding: 60px 40px 40px;
  }
  .region__tab {
    padding: 12px 24px;
  }
  .section-double-color::before {
    height: 30%;
  }
  .tarif-card {
    padding: 20px 15px;
  }
  .tarif-card__top {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .reviews__img {
    display: none;
  }
  .reviews::before {
    width: 100%;
    border-radius: 0;
  }
  .header.__scroll .header__top {
    padding-bottom: 0;
  }
}

@media (max-width: 576px){
  body {
    line-height: 1.4;
  }
  .hero__btn {
    font-size: 18px;
    padding: 20px 30px;
  }
  .btn {
    width: 100%;
  }
  .btn_lg {
    font-size: 16px;
  }
  .header__contacts {
    gap: 16px;
  }
  .region__table {
    flex-direction: column;
    height: auto;
  }
  .region__table-item {
    flex-basis: auto;
    height: 200px;
  }
  .region__table-item:first-child {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }
  .modal__close-btn {
    top: 18px;
    right: 18px;
  }
  .modal-location {
    padding: 46px 20px 20px;
  }
  .region__track {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 6px;
  }
  .region__tab {
    padding: 8px 14px;
    font-size: 14px;
  }
  .region__link {
    font-size: 14px;
  }
  .region__table-item {
    padding: 8px 0 0 15px;
  }
  .search__input {
    height: 34px;
  }
  .hero {
    margin-bottom: 80px;
  }
  .about-grid__info {
    position: static;
    transform: translate(0);
    padding: 16px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 32px;
    &::after {
      width: 1px;
      height: auto;
    }
  }
  .about-grid__number {
    font-size: 36px;
  }
  .about-grid__descr {
    font-size: 15px;
  }
  .text-lead {
    padding: 10px 0 10px 15px;
  }
  .about-grid__img {
    border-radius: 14px;
  }
  .benefits__item {
    gap: 20px;
    margin-bottom: 20px;
  }
  .benefits__icon svg {
    width: 50px;
    height: 50px;
  }
  .benefits__icon-circle {
    width: 60px;
    height: 60px;
  }
  .section-double-color {
    padding: 80px 0;
  }
  .service-card {
    border: none;
    padding-bottom: 0;
  }
  .service-card__img {
    border-radius: 8px;
    margin-bottom: 12px;
  }
  .service-card__title {
    font-size: 16px;
  }
  .section-double-color::before {
    height: 50%;
  }
  .step__item {
    width: 100%;
    padding: 24px 20px;
  }
  .footer__logo {
    width: 100px;
  }
  .footer {
    padding: 60px 0;
  }
  .reviews__wrp {
    padding: 60px 0;
  }
  .region-on-page .region__table-item {
    height: 260px;
  }
  .region-on-page {
    padding: 60px 0;
  }
  .region-on-page::before {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .faq-img__callback {
    display: block;
  }
  .faq-img__callback {
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 14px;
    text-align: center;
  }
  .acc-faq__header,
  .acc-faq__content {
    padding: 16px;
  }
  .acc-faq__item {
    margin-bottom: 10px;
  }
  .numbers__big {
    font-size: 46px;
  }
  .action {
    padding: 80px 0;
  }
  .slider-reviews {
    padding-right: 0;
    padding-bottom: 60px;
  }
  .review-card__top {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  .swiper-pagination.slider-reviews__pagination {
    top: auto;
    bottom: 16px;
    transform: translateY(0);
    flex-direction: row;
    right: 0;
    left: 0;
    justify-content: center;
  }
  .swiper-pagination.slider-reviews__pagination .swiper-pagination-bullet {
    margin: 0 20px !important;
  }
  .works__descr {
    opacity: 1;
    height: auto;
    padding: 16px;
    top: auto;
    bottom: 0;
  }
  .works__text {
    transform: translateY(0);
  }
  .about-grid__img.__video {
    height: 160px;
  }
  .menu__nav {
    text-align: center;
  }
  .menu__location,
  .menu__social,
  .menu__phone {
    justify-content: center;
  }
}