:root {
	--dark: #434343;
	--dark-bg: #323540;
  --text-on-accent: #222222;
	--light: #fff;
	--accent: #f2b91c;
	--accent-darker: #f2921c;
  --lightgray: #f9f9f9;
  --gray: #ededed;
  --gray-text: #717171;
	--border-color: #D2D2D2;
}

.color-black {
	color: var(--text-on-accent);
}
.color-gray {
	color: var(--gray-text);
}
.color-accent {
	color: var(--accent);
}
.color-muted {
	opacity: 0.6
}

.pb-120 {
  @include adaptiv-value("padding-bottom", 120, 60, 1);
}
.pt-120 {
  @include adaptiv-value("padding-top", 120, 60, 1);
}
.pb-160 {
  @include adaptiv-value("padding-bottom", 160, 80, 1);
}
.pt-160 {
  @include adaptiv-value("padding-top", 160, 80, 1);
}
.pt-180 {
  @include adaptiv-value("padding-top", 180, 90, 1);
}
.mb-160 {
  @include adaptiv-value("margin-bottom", 160, 80, 1);
}
.mb-120 {
  @include adaptiv-value("margin-bottom", 120, 60, 1);
}
.mb-80 {
  @include adaptiv-value("margin-bottom", 80, 40, 1);
}
.mb-60 {
  @include adaptiv-value("margin-bottom", 60, 30, 1);
}