    <footer class="footer">
      
    </footer>
  </div>

  <div class="modal modal-location" id="modal-location" style="display:none;">
    <button data-fancybox-close class="close-btn modal__close-btn" title="Close"></button>
    <p class="h3 color-black mb-4 mb-lg-5">Города подключения</p>
    <div class="region">
      <p class="subtitle mb-2 mb-sm-3">Выберите область</p>
      <div class="region__track mb-4">
        <div class="region__tab __current">Московская</div>
        <div class="region__tab">Калужская</div>
        <div class="region__tab">Рязанская</div>
        <div class="region__tab">Владимирская</div>
        <div class="region__tab">Ярославская</div>
        <div class="region__tab">Тверская</div>
      </div>
      <div class="region__table mb-4">
        <div class="region__table-item">
          <p class="color-gray mb-1 mb-sm-2">Район</p>
          <div class="region__list-wrp">
            <div class="region__list">
              <div class="region__link __current">Балашихинский район</div>
              <div class="region__link">Волоколамский район</div>
              <div class="region__link">Воскресенский район</div>
              <div class="region__link">Дмитровский район</div>
              <div class="region__link">Домодедовский район</div>
              <div class="region__link">Егорьевский район</div>
              <div class="region__link">Зарайский район</div>
              <div class="region__link">Истринский район</div>
              <div class="region__link">Бронницы</div>
              <div class="region__link">Дзержинский</div>
              <div class="region__link">Егорьевский район</div>
              <div class="region__link">Зарайский район</div>
              <div class="region__link">Истринский район</div>
              <div class="region__link">Бронницы</div>
              <div class="region__link">Дзержинский</div>
            </div>
          </div>
        </div>
        <div class="region__table-item">
          <p class="color-gray mb-1 mb-sm-2">Населенный пункт</p>
          <div class="region__search">
            <div class="search">
              <input class="search__input" type="search" name="search" placeholder="Найти город">
              <span class="search__btn">
                <svg>
                  <use href="/images/icons/sprites.svg#find">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div class="region__list-wrp">
            <div class="region__list">
              <div class="region__link">Березняки</div>
              <div class="region__link">ДНТ Гранат</div>
              <div class="region__link">СНТ Забота</div>
              <div class="region__link">Салтыковка</div>
              <div class="region__link">Полтево</div>
              <div class="region__link">Соболиха</div>
              <div class="region__link">СПО Ветеран</div>
              <div class="region__link">СПО Кучинское</div>
              <div class="region__link">Полтево</div>
              <div class="region__link">Соболиха</div>
              <div class="region__link">СПО Ветеран</div>
              <div class="region__link">СПО Кучинское</div>
              <div class="region__link">Березняки</div>
              <div class="region__link">ДНТ Гранат</div>
              <div class="region__link">СНТ Забота</div>
              <div class="region__link">Салтыковка</div>
              <div class="region__link">Полтево</div>
              <div class="region__link">Соболиха</div>
              <div class="region__link">СПО Ветеран</div>
              <div class="region__link">СПО Кучинское</div>
              <div class="region__link">Полтево</div>
              <div class="region__link">Соболиха</div>
              <div class="region__link">СПО Ветеран</div>
              <div class="region__link">СПО Кучинское</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end">
        <a class="btn btn_lg btn_accent" href="#">Оставить заявку на подключение</a>
      </div>
    </div>
  </div>

<!-- <script src="js/main.min.js"></script> -->
<script src="js/main.js"></script>
</body>

</html>