<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Wifi Globalnet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/accordion.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.mask.js"></script>
  <script src="js/swiper-bundle.min.js"></script>

</head>

<body>

  <div class="page">
    <div class="page__wrapper">
      <header class="header">
        <div class="container">
          <div class="header__wrp">
            <a href="#" class="logo header__logo"><img src="/images/logo.svg" alt=""></a>
            <div class="header__content">
              <div class="header__top">
                <div class="d-none d-lg-flex">
                  <a class="header__link hover me-4 me-xl-5" href="#">Для дома</a>
                  <a class="header__link hover" href="#">Для бизнеса</a>
                </div>
                <div class="header__contacts">
                  <div class="social header__social">
                    <a href="#" class="social__link"><img src="/images/icons/telegram.svg" alt=""></a>
                    <a href="#" class="social__link"><img src="/images/icons/whatsapp.svg" alt=""></a>
                  </div>
                  <a class="phone header__phone hover" href="tel:+780099999999">
                    <svg>
                      <use href="/images/icons/sprites.svg#phone"></use>
                    </svg>
                    <span>8 800 999 999 99</span>
                  </a>
                  <div class="btn btn_accent btn_md header__btn d-none d-md-flex">Обратный звонок</div>
                </div>
                <div class="menu-btn js-open-menu header__menu-btn">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              <div class="header__bottom">
                <nav class="header__nav">
                  <a href="#" class="header__nav-link hover">Интернет</a>
                  <a href="#" class="header__nav-link hover">Видеонаблюдение </a>
                  <a href="#" class="header__nav-link hover">Телевидение</a>
                  <a href="#" class="header__nav-link hover">Тарифы</a>
                  <a href="#" class="header__nav-link hover">О нас</a>
                  <a href="#" class="header__nav-link hover">Отзывы</a>
                </nav>
                <div class="header__location location" data-fancybox data-src="#modal-location" data-options='{"touch" : false}'>
                  <svg>
                    <use href="/images/icons/sprites.svg#location"></use>
                  </svg>
                  <span class="fs-18 fw-500">Выбрать город</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


 